.fkw-menu {
  width: fit-content;
  position: relative;

  &_trigger {}

  &_wrapper {
    position: absolute;
    display: flex;
    transition: .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    touch-action: none;
    z-index: 99;
    width: fit-content;
    
    &--active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      touch-action: auto;
    }
  }

  &_content {
    width: fit-content;
  }

  &--verbose {
    background: red;

    .fkw-menu {
      &_trigger {
        background: green;

        &--active {
          background: rgba($color: #fff, $alpha: .7);
        }
      }

      &_wrapper {
        background: blue;

        &--active {
          background: rgba($color: #fff, $alpha: .7);
        }
      }

      &_content {
        background: yellow;

        &--active {
          background: rgba($color: #fff, $alpha: .7);
        }
      }
    }
  }
}