.fkw-menu {
  width: fit-content;
  position: relative;

  &_trigger {}

  &_wrapper {
    position: absolute;
    display: flex;
  }

  &_content {
    width: fit-content;
  }

  &--verbose {
    background: red;

    .fkw-menu {
      &_trigger {
        background: green;
      }

      &_wrapper {
        background: blue;
      }

      &_content {
        background: yellow;
      }
    }
  }
}